:root{
    --background-color: white;
    --reverse-color: black;
    --extrainfo-color: gray;
    --line-color: gray;
}

[data-theme="dark"]{
    --background-color: rgb(30, 29, 29);
    --reverse-color: white;
    --extrainfo-color: gray;
    --line-color: gray;
}

